<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433321796976-14dht5ecttj96dnltoj7cf0arfr7e6bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433321796976-14dht5ecttj96dnltoj7cf0arfr7e6bo</string>
	<key>API_KEY</key>
	<string>AIzaSyDj7LxN1ICqsvmFHDp2CsW3b6NRNzW-0rk</string>
	<key>GCM_SENDER_ID</key>
	<string>433321796976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.immaturecreations.MessengingApp</string>
	<key>PROJECT_ID</key>
	<string>messenging-app-94621</string>
	<key>STORAGE_BUCKET</key>
	<string>messenging-app-94621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:433321796976:ios:9826bfbe2adf61cc</string>
	<key>DATABASE_URL</key>
	<string>https://messenging-app-94621.firebaseio.com</string>
</dict>
</plist>
